/* genral varibale */
* {
  /* border: solid 1px black; */
}
:root {
  --dark-navy-blue: #164773;
  --deep-midnight-blue: #0b2b40;
  --dark-teal: #1e5959;
  --medium-dark-green: #3b8c6e;
  --light-mint-green: #89d99d;
  --white: #ffffff;
  --black: #171321;
  --font-size: 1.3rem;
  /*i need to add fonts*/
  --font-Fraunces: "Fraunces", serif;
  --font-Oxygen: "Oxygen", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}
/* border box model : i need to read about this*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--dark-teal);
  font-family: var(--font-Fraunces);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
/* link color and hover  */
a {
  color: var(--light-mint-green);
}
a:hover {
  color: var(--medium-dark-green);
  text-decoration: none;
}
/* background color div  */
.section-backgroundColor {
  background-color: var(--medium-dark-green);
}
/* intro styles */
#intro {
  /* nice space between nav and the other section  */
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
#intro .name {
  /* i want to change him  */
  font-family: var(--font-Fraunces);
}
.name span {
  font-family: var(--font-Fraunces);
  font-size: 4rem;
  color: var(--light-mint-green);
  display: block;
}
#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}
#contact {
  padding: 3rem 0;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  /* background-color: var(--dark-navy-blue); */
}
#contact p:last-child {
  margin-top: 3rem;
}
/* NavBar */
nav {
  /* font-family: var(--font-Poppins); */
  font-size: 80%;
  padding: 1rem;
}
nav h1 a {
  font-family: var(--font-Fraunces);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  /* border: 1px solid red; */
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--deep-midnight-blue);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--deep-midnight-blue);
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--light-mint-green);
}
.button {
  background-color: var(--dark-navy-blue);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--white);
  text-decoration: none;
}
.button:hover {
  columns: var(--white);
  background-color: var(--dark-navy-blue);
}
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
/* styling footer by myself  */
footer {
  text-align: center;
  padding: 4rem 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
